@import 'partials/_base';
@import 'partials/normalise';
@import 'partials/_headfoot';
@import 'partials/_theme';

#navgal {
	color: #e62b1e;
}
#navhom,
#navven,
#navspe,
#navabt {
	color: black;
}

.container {
	@media (max-width: $phoneMax) {
		margin-top: 90px;
	}
}
.img-container {
	margin-bottom: 10px;
	img.gallery-image {
		width: 100%;
		cursor: pointer;
	}
	@media (max-width: $phoneMax) {
		padding: 0;
		width: 100%;
		padding: 10px;
	}
}

#window-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: -1;
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: z-index 0.3s 0.2s, opacity 0.3s 0.2s;
	.image-enlarged {
		width: 60%;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			width: 100%;
		}
		.controls {
			display: flex;
			justify-content: space-around;
			margin: 20px auto;
			text-align: center;
			div {
				width: 30%;
			}
			a {
				color: white;
				cursor: pointer;
			}
		}
	}
	@media (max-width: $phoneMax) {
		.image-enlarged {
			width: 100%;
		}
	}
}

.active-window {
	z-index: 109 !important;
	opacity: 1 !important;
}
