@import 'partials/_base';
@import 'partials/normalise.css';
@import 'partials/headfoot';
@import 'partials/theme';
p,
h2,
ul {
    font-family: $contentFont;
}

.slick-dots {
    transform: translateY(-100%);
}

.carousel-container {
    padding: 50px 0;
    background-image: url('../../dist/imgs/tedxback.jpg');
    .carousel {
        max-width: 980px;
        margin: 0px auto;
        background-color: beige;
        img {
            width: 100%;
        }
    }
}

.ted{
    text-align: center;
    p{
        width: 80%;
        margin: auto;
    }
}

.tedx {
    position: relative;
    $imageWidth: 35%;
    h2,
    p {
        width: 100% - $imageWidth;
        padding: 5px 30px;
        box-sizing: border-box;
        text-align: center;
    }
    img {
        width: $imageWidth;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.tedxmec{
    .para-head::after{
        left: 0;
        transform: none;
    }
}