{% block footer %}
    <div class="footer-outer">
        <div class="footer container">
            <div class="tedxmec-footer">
                <img class="tedx-x" src="imgs/tedx-x.png" alt="tedxfooter">
                <img class="tedxpolicy" src="imgs/tedx.png" alt="tedxpolicy">
            </div>
            <div class="connect-footer">
                <ul>
                    <li class="head">Connect</li>
                    <li>Google Plus</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                </ul>
            </div>
            <div class="mec-footer">
                <ul>
                    <li class="head">TEDx MEC</li>
                    <li>About TEDxMEC</li>
                    <li>Our Team</li>
                    <li>Partners</li>
                </ul>
            </div>
        </div>
        <div class="copyrightlayer">
            <p>Copyright &copy; TEDx MEC 2017</p>
        </div>
    </div>
{% endblock %}