<div class="navbar">
    <div>
        <img src="imgs/logo.png">
        <ul>
            <li><a id="navhom" href="index.html">HOME</a></li>
            <li><a id="navgal" href="gallery.html">GALLERY</a></li>
            <li><a id="navven" href="venue.html">VENUE</a></li>
            <li><a id="navspe" href="speakers.html">SPEAKERS</a></li>
            <li><a id="navabt" href="about.html">ABOUT</a></li>
        </ul>
        <div class="wrapper-menu" id="navbar-button">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
    </div>
</div>

<div class="navbar-mob" id="navbar-mob">
    <div>
        <div class="menu-list">
            <h2>PAGES</h2>
            <div class="col-xs-6" id="home">
                <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>HOME</a>
            </div>
            <div class="col-xs-6" id="gallery"><a href="gallery.html"><i class="fa fa-camera" aria-hidden="true"></i>GALLERY</a></div>
            <div class="col-xs-6" id="venue"><a href="venue.html"><i class="fa fa-map-marker" aria-hidden="true"></i>VENUE</a></div>
            <div class="col-xs-6" id="speakers"><a href="speakers.html"><i class="fa fa-microphone" aria-hidden="true"></i></i>SPEAKERS</a></div>
            <div class="col-xs-6" id="about"><a href="about.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></i>ABOUT</a></div>
        </div>
    </div>
</div>