<div class="page-head">
    <div class="navbar">
        <div>
            <ul>
                <li>Home</li>
                <li>Gallery</li>
                <li>Venue</li>
                <li>Previous Speakers</li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>