<div class="snackbar" id="snackbar">
    <div class="container snackbar-content">
        <div class="content-notif">
            <p>Registrations are now open! <a target="_blank" class="register-link" href="https://goo.gl/forms/rI1hCSNAqlVF7m4j2">Register here</a></p>
        </div>
    </div>
    <div id="close-notif">&times;</div>
</div>