@import url(partials/normalise.css);
/* line 1, ../sass/partials/_base.scss */
.container {
  max-width: 980px;
  margin: 90px auto;
}

/* line 13, ../sass/partials/_base.scss */
a,
a:hover,
a:active {
  text-decoration: none;
}

/* line 19, ../sass/partials/_base.scss */
.stay {
  overflow-y: hidden;
}

/* line 23, ../sass/partials/_base.scss */
#content,
#footer-outer {
  transition: filter 0.3s;
}

/* line 1, ../sass/partials/_headfoot.scss */
.navbar {
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 80px;
}
/* line 8, ../sass/partials/_headfoot.scss */
.navbar div {
  margin: auto;
  max-width: 980px;
  display: flex;
  height: inherit;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
/* line 15, ../sass/partials/_headfoot.scss */
.navbar div #navbar-button {
  display: none;
}
/* line 18, ../sass/partials/_headfoot.scss */
.navbar div img {
  height: 40%;
  margin: auto 10px;
}
/* line 22, ../sass/partials/_headfoot.scss */
.navbar div ul {
  padding: 20px 0;
  margin: 0;
  font-size: 15px;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  margin: auto 0px;
  width: 60%;
}
/* line 32, ../sass/partials/_headfoot.scss */
.navbar div ul li {
  width: 10%;
}
@media (max-width: 600px) {
  /* line 22, ../sass/partials/_headfoot.scss */
  .navbar div ul {
    display: none;
  }
}
/* line 39, ../sass/partials/_headfoot.scss */
.navbar div a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 600px) {
  /* line 44, ../sass/partials/_headfoot.scss */
  .navbar div #navbar-button {
    display: block;
  }
}
@media (max-width: 600px) {
  /* line 1, ../sass/partials/_headfoot.scss */
  .navbar {
    position: fixed;
    background: white;
  }
}

/* line 55, ../sass/partials/_headfoot.scss */
.navbar-mob {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  z-index: -1;
  transition: z-index 0.3s 0.2s, opacity 0.3s 0.2s, background 0.3s 0.2s;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
}
/* line 63, ../sass/partials/_headfoot.scss */
.navbar-mob i {
  display: block;
  font-size: 50px;
}
@media (max-width: 600px) {
  /* line 70, ../sass/partials/_headfoot.scss */
  .navbar-mob h2 {
    color: slategray;
    font-weight: bolder;
  }
  /* line 74, ../sass/partials/_headfoot.scss */
  .navbar-mob div {
    text-align: center;
  }
  /* line 76, ../sass/partials/_headfoot.scss */
  .navbar-mob div div {
    font-size: 15px;
    padding: 10px;
  }
  /* line 79, ../sass/partials/_headfoot.scss */
  .navbar-mob div div a {
    color: black;
  }
  /* line 85, ../sass/partials/_headfoot.scss */
  .navbar-mob #home i {
    color: white;
  }
  /* line 90, ../sass/partials/_headfoot.scss */
  .navbar-mob #gallery i {
    color: lightslategrey;
  }
  /* line 95, ../sass/partials/_headfoot.scss */
  .navbar-mob #venue i {
    color: crimson;
  }
  /* line 100, ../sass/partials/_headfoot.scss */
  .navbar-mob #speakers i {
    color: darkcyan;
  }
  /* line 105, ../sass/partials/_headfoot.scss */
  .navbar-mob #about i {
    color: cornflowerblue;
  }
}

/* line 112, ../sass/partials/_headfoot.scss */
.active-nav {
  z-index: 99;
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
}

/* line 118, ../sass/partials/_headfoot.scss */
.footer-outer {
  background-color: #373833;
}
/* line 121, ../sass/partials/_headfoot.scss */
.footer-outer .copyrightlayer {
  padding: 20px 0;
  background-color: #232323;
  text-align: center;
  box-shadow: inset 0px 0px 3px;
}
/* line 126, ../sass/partials/_headfoot.scss */
.footer-outer .copyrightlayer p {
  color: #989898;
  margin: 0;
  font-size: 12px;
}

/* line 134, ../sass/partials/_headfoot.scss */
.footer {
  margin: 0px auto;
  padding: 50px 10px;
  display: flex;
}
/* line 138, ../sass/partials/_headfoot.scss */
.footer * {
  margin: 0 10px;
}
/* line 141, ../sass/partials/_headfoot.scss */
.footer img {
  display: inline-block;
  margin: 0 10px;
}
/* line 145, ../sass/partials/_headfoot.scss */
.footer img.tedx-x {
  height: 200px;
}
/* line 148, ../sass/partials/_headfoot.scss */
.footer img.tedxpolicy {
  vertical-align: top;
  width: 250px;
}
/* line 152, ../sass/partials/_headfoot.scss */
.footer ul {
  color: beige;
  list-style-type: none;
  padding: 0;
}
/* line 156, ../sass/partials/_headfoot.scss */
.footer ul li {
  margin-top: 10px;
  color: #b5b7ad;
}
/* line 160, ../sass/partials/_headfoot.scss */
.footer ul li.head {
  font-weight: bolder;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #f5eeee;
}
@media (max-width: 800px) {
  /* line 134, ../sass/partials/_headfoot.scss */
  .footer {
    justify-content: space-around;
  }
  /* line 171, ../sass/partials/_headfoot.scss */
  .footer .tedx-x {
    margin-bottom: 10px;
  }
  /* line 175, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer {
    width: 30%;
  }
}
@media (max-width: 600px) {
  /* line 134, ../sass/partials/_headfoot.scss */
  .footer {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 184, ../sass/partials/_headfoot.scss */
  .footer .connect-footer,
  .footer .tedxmec-footer,
  .footer .mec-footer {
    margin-bottom: 20px;
    width: unset;
  }
  /* line 190, ../sass/partials/_headfoot.scss */
  .footer .connect-footer {
    order: 0;
  }
  /* line 193, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer {
    order: 2;
    text-align: center;
  }
  /* line 196, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer .tedx-x {
    height: 150px;
  }
  /* line 199, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer .tedxpolicy {
    width: 200px;
  }
  /* line 202, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer img {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  /* line 208, ../sass/partials/_headfoot.scss */
  .footer * {
    margin: 0 5px;
  }
}

/* line 1, ../sass/partials/_theme.scss */
.para-head {
  position: relative;
  margin-bottom: 22px;
  font-size: 30px;
}
/* line 5, ../sass/partials/_theme.scss */
.para-head::after {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 20%;
  bottom: -10px;
  background-color: red;
  left: 50%;
  transform: translateX(-50%);
  clear: both;
}

/* line 18, ../sass/partials/_theme.scss */
.style-rule {
  float: center;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  margin: 0;
}

/* line 25, ../sass/partials/_theme.scss */
p {
  line-height: 27px;
  font-size: 19px;
  font-family: "PT Sans", sans-serif;
}
@media (max-width: 600px) {
  /* line 25, ../sass/partials/_theme.scss */
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

/* line 35, ../sass/partials/_theme.scss */
.button-default {
  background-color: #2363c3;
  border: 0;
  border-radius: 3px;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

/* line 44, ../sass/partials/_theme.scss */
body {
  position: relative;
}

/* line 5, ../sass/homepage.scss */
p,
h2,
ul {
  font-family: "PT Sans", sans-serif;
}

/* line 11, ../sass/homepage.scss */
.cover {
  height: 100vh;
  background-image: url("../imgs/cover.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
}

/* line 19, ../sass/homepage.scss */
.ted {
  text-align: center;
}
/* line 21, ../sass/homepage.scss */
.ted p {
  width: 80%;
  margin: auto;
}
@media (max-width: 600px) {
  /* line 26, ../sass/homepage.scss */
  .ted p {
    width: 90%;
    text-align: justify;
    text-align-last: center;
  }
}

/* line 34, ../sass/homepage.scss */
.tedx {
  position: relative;
}
/* line 37, ../sass/homepage.scss */
.tedx h2,
.tedx p {
  width: 65%;
  padding: 5px 30px;
  box-sizing: border-box;
  text-align: center;
}
/* line 44, ../sass/homepage.scss */
.tedx img {
  width: 35%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  /* line 52, ../sass/homepage.scss */
  .tedx h2,
  .tedx p {
    width: 90%;
    padding: 0;
    margin: auto;
    text-align: justify;
    text-align-last: center;
  }
  /* line 60, ../sass/homepage.scss */
  .tedx img {
    position: static;
    top: unset;
    transform: none;
    width: 90%;
    margin: 30px auto;
    display: block;
  }
}

/* line 71, ../sass/homepage.scss */
.tedxmec-container {
  display: flex;
  justify-content: space-around;
}
/* line 75, ../sass/homepage.scss */
.tedxmec-container .x-png {
  width: 46%;
  background-image: url("/dist/imgs/college.jpg");
  background-size: contain;
  background-position: center;
  background-color: #a10015;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}
/* line 84, ../sass/homepage.scss */
.tedxmec-container .x-png img {
  width: 100%;
  margin: auto;
  display: block;
}
/* line 90, ../sass/homepage.scss */
.tedxmec-container .tedxmec {
  width: 50%;
}
/* line 92, ../sass/homepage.scss */
.tedxmec-container .tedxmec .para-head::after {
  left: 0;
  transform: none;
}
@media (max-width: 600px) {
  /* line 71, ../sass/homepage.scss */
  .tedxmec-container {
    flex-wrap: wrap;
  }
  /* line 100, ../sass/homepage.scss */
  .tedxmec-container .x-png {
    width: 60%;
    background-attachment: scroll;
    background-size: cover;
  }
  /* line 105, ../sass/homepage.scss */
  .tedxmec-container .tedxmec {
    width: 90%;
  }
  /* line 107, ../sass/homepage.scss */
  .tedxmec-container .tedxmec p {
    text-align: justify;
    text-align-last: center;
  }
}

/* line 115, ../sass/homepage.scss */
.theme-container {
  margin-bottom: 0;
  background-color: #373833;
  background-repeat: repeat;
  color: white;
  padding: 40px;
}
/* line 123, ../sass/homepage.scss */
.theme-container .mec-theme .bold-head {
  color: #bf3642;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
@media (max-width: 600px) {
  /* line 115, ../sass/homepage.scss */
  .theme-container {
    padding: 15px;
    text-align: justify;
  }
  /* line 134, ../sass/homepage.scss */
  .theme-container .mec-theme .bold-head {
    font-size: 30px;
  }
  /* line 137, ../sass/homepage.scss */
  .theme-container .mec-theme ul {
    font-size: 15px;
    color: #bf3642;
  }
  /* line 141, ../sass/homepage.scss */
  .theme-container .mec-theme ul li p {
    color: white;
  }
}
