@import url(partials/normalise.css);
/* line 2, ../sass/partials/_base.scss */
.container {
  max-width: 980px;
  margin: 90px auto;
}

/* line 14, ../sass/partials/_base.scss */
a,
a:hover,
a:active {
  text-decoration: none;
}

/* line 20, ../sass/partials/_base.scss */
.stay {
  overflow-y: hidden;
}

/* line 24, ../sass/partials/_base.scss */
#content,
#footer-outer {
  will-change: filter;
  transition: filter 0.3s;
}

/* line 30, ../sass/partials/_base.scss */
.filter-transit {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

/* line 1, ../sass/partials/_headfoot.scss */
.navbar {
  text-align: center;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 80px;
}
/* line 8, ../sass/partials/_headfoot.scss */
.navbar > div {
  margin: auto;
  max-width: 980px;
  display: flex;
  height: inherit;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
/* line 16, ../sass/partials/_headfoot.scss */
.navbar > div #navbar-button {
  display: none;
  margin: auto 10px;
}
/* line 20, ../sass/partials/_headfoot.scss */
.navbar > div img {
  height: 40%;
  margin: auto 10px;
}
@media (max-width: 600px) {
  /* line 20, ../sass/partials/_headfoot.scss */
  .navbar > div img {
    height: 30%;
  }
}
/* line 27, ../sass/partials/_headfoot.scss */
.navbar > div ul {
  padding: 20px 0;
  margin: 0;
  font-size: 15px;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  margin: auto 0px;
  width: 60%;
}
/* line 37, ../sass/partials/_headfoot.scss */
.navbar > div ul li {
  width: 10%;
}
@media (max-width: 600px) {
  /* line 27, ../sass/partials/_headfoot.scss */
  .navbar > div ul {
    display: none;
  }
}
/* line 44, ../sass/partials/_headfoot.scss */
.navbar > div a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 600px) {
  /* line 8, ../sass/partials/_headfoot.scss */
  .navbar > div {
    border-bottom: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  /* line 49, ../sass/partials/_headfoot.scss */
  .navbar > div #navbar-button {
    display: flex;
  }
}
@media (max-width: 600px) {
  /* line 1, ../sass/partials/_headfoot.scss */
  .navbar {
    position: fixed;
    background: white;
  }
}

/* line 62, ../sass/partials/_headfoot.scss */
.navbar-mob {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  will-change: opacity, background;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
}
/* line 71, ../sass/partials/_headfoot.scss */
.navbar-mob i {
  display: block;
  font-size: 50px;
}
@media (max-width: 600px) {
  /* line 78, ../sass/partials/_headfoot.scss */
  .navbar-mob h2 {
    color: slategray;
    font-weight: bolder;
  }
  /* line 82, ../sass/partials/_headfoot.scss */
  .navbar-mob div {
    text-align: center;
  }
  /* line 84, ../sass/partials/_headfoot.scss */
  .navbar-mob div div {
    font-size: 15px;
    padding: 10px;
  }
  /* line 87, ../sass/partials/_headfoot.scss */
  .navbar-mob div div a {
    color: black;
  }
  /* line 93, ../sass/partials/_headfoot.scss */
  .navbar-mob #home i {
    color: white;
  }
  /* line 98, ../sass/partials/_headfoot.scss */
  .navbar-mob #gallery i {
    color: lightslategrey;
  }
  /* line 103, ../sass/partials/_headfoot.scss */
  .navbar-mob #venue i {
    color: crimson;
  }
  /* line 108, ../sass/partials/_headfoot.scss */
  .navbar-mob #speakers i {
    color: darkcyan;
  }
  /* line 113, ../sass/partials/_headfoot.scss */
  .navbar-mob #about i {
    color: cornflowerblue;
  }
}

/* line 120, ../sass/partials/_headfoot.scss */
.active-nav {
  z-index: 99;
  background: rgba(255, 255, 255, 0.6);
}

/* line 125, ../sass/partials/_headfoot.scss */
.footer-outer {
  background-color: #373833;
}
/* line 127, ../sass/partials/_headfoot.scss */
.footer-outer .copyrightlayer {
  padding: 20px 0;
  background-color: #232323;
  text-align: center;
  box-shadow: inset 0px 0px 3px;
}
/* line 132, ../sass/partials/_headfoot.scss */
.footer-outer .copyrightlayer p {
  color: #989898;
  margin: 0;
  font-size: 12px;
}

/* line 140, ../sass/partials/_headfoot.scss */
.footer {
  margin: 0px auto;
  padding: 50px 10px;
  display: flex;
}
/* line 144, ../sass/partials/_headfoot.scss */
.footer * {
  margin: 0 10px;
}
/* line 147, ../sass/partials/_headfoot.scss */
.footer img {
  display: inline-block;
  margin: 0 10px;
}
/* line 151, ../sass/partials/_headfoot.scss */
.footer img.tedx-x {
  height: 200px;
}
/* line 154, ../sass/partials/_headfoot.scss */
.footer img.tedxpolicy {
  vertical-align: top;
  width: 250px;
}
/* line 158, ../sass/partials/_headfoot.scss */
.footer ul {
  color: beige;
  list-style-type: none;
  padding: 0;
}
/* line 162, ../sass/partials/_headfoot.scss */
.footer ul li {
  margin-top: 10px;
  color: #b5b7ad;
  font-family: "Poppins", sans-serif;
}
/* line 167, ../sass/partials/_headfoot.scss */
.footer ul li.head {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #f5eeee;
}
@media (max-width: 800px) {
  /* line 140, ../sass/partials/_headfoot.scss */
  .footer {
    justify-content: space-around;
  }
  /* line 179, ../sass/partials/_headfoot.scss */
  .footer .tedx-x {
    margin-bottom: 10px;
  }
  /* line 183, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer {
    width: 30%;
  }
}
@media (max-width: 600px) {
  /* line 140, ../sass/partials/_headfoot.scss */
  .footer {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 192, ../sass/partials/_headfoot.scss */
  .footer .connect-footer,
  .footer .tedxmec-footer,
  .footer .mec-footer {
    margin-bottom: 20px;
    width: unset;
  }
  /* line 198, ../sass/partials/_headfoot.scss */
  .footer .connect-footer {
    order: 0;
  }
  /* line 201, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer {
    order: 2;
    text-align: center;
  }
  /* line 204, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer .tedx-x {
    height: 150px;
  }
  /* line 207, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer .tedxpolicy {
    width: 200px;
  }
  /* line 210, ../sass/partials/_headfoot.scss */
  .footer .tedxmec-footer img {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  /* line 216, ../sass/partials/_headfoot.scss */
  .footer * {
    margin: 0 5px;
  }
}

/* line 222, ../sass/partials/_headfoot.scss */
.wrapper-menu {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  will-change: transform;
  transition: transform 330ms ease-out, color 330ms ease-out;
}

/* line 233, ../sass/partials/_headfoot.scss */
.wrapper-menu.open {
  transform: rotate(-45deg);
}

/* line 237, ../sass/partials/_headfoot.scss */
.line-menu {
  background-color: black;
  border-radius: 20px;
  width: 100%;
  height: 4px;
  will-change: transform;
}

/* line 245, ../sass/partials/_headfoot.scss */
.line-menu.half {
  width: 50%;
}

/* line 249, ../sass/partials/_headfoot.scss */
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

/* line 255, ../sass/partials/_headfoot.scss */
.open .line-menu.start {
  transform: rotate(-90deg) translateX(1px);
}
/* line 258, ../sass/partials/_headfoot.scss */
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
/* line 261, ../sass/partials/_headfoot.scss */
.open .line-menu {
  background-color: red;
}

/* line 266, ../sass/partials/_headfoot.scss */
.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

/* line 1, ../sass/partials/_theme.scss */
.para-head {
  position: relative;
  margin-bottom: 22px;
  font-size: 30px;
}
/* line 5, ../sass/partials/_theme.scss */
.para-head::after {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 20%;
  bottom: -10px;
  background-color: red;
  left: 50%;
  transform: translateX(-50%);
  clear: both;
}

/* line 18, ../sass/partials/_theme.scss */
.style-rule {
  float: center;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  margin: 0;
}

/* line 25, ../sass/partials/_theme.scss */
p {
  line-height: 27px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgba(48, 48, 47, 0.9);
}
@media (max-width: 600px) {
  /* line 25, ../sass/partials/_theme.scss */
  p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* line 36, ../sass/partials/_theme.scss */
h2 {
  font-family: "Montserrat", sans-serif;
}

/* line 40, ../sass/partials/_theme.scss */
.button-default {
  background-color: #2363c3;
  border: 0;
  border-radius: 3px;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

/* line 49, ../sass/partials/_theme.scss */
body {
  position: relative;
}

/* line 5, ../sass/homepage.scss */
p,
ul {
  font-family: "Poppins", sans-serif;
}

/* line 10, ../sass/homepage.scss */
h2 {
  font-family: "Montserrat", sans-serif;
}

/* line 14, ../sass/homepage.scss */
#navhom {
  color: #e62b1e;
}

/* line 17, ../sass/homepage.scss */
#navgal,
#navven,
#navspe,
#navabt {
  color: black;
}

/* line 24, ../sass/homepage.scss */
.cover {
  height: 100vh;
  background-image: url("../imgs/cover.png");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center;
}

/* line 32, ../sass/homepage.scss */
.ted {
  text-align: center;
}
/* line 34, ../sass/homepage.scss */
.ted p {
  width: 80%;
  margin: auto;
}
@media (max-width: 600px) {
  /* line 39, ../sass/homepage.scss */
  .ted p {
    width: 90%;
    text-align: justify;
    text-align-last: center;
  }
}

/* line 47, ../sass/homepage.scss */
.tedx {
  position: relative;
}
/* line 50, ../sass/homepage.scss */
.tedx h2,
.tedx p {
  width: 65%;
  padding: 5px 30px;
  box-sizing: border-box;
  text-align: center;
}
/* line 57, ../sass/homepage.scss */
.tedx img {
  width: 35%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  /* line 65, ../sass/homepage.scss */
  .tedx h2,
  .tedx p {
    width: 90%;
    padding: 0;
    margin: auto;
    text-align: justify;
    text-align-last: center;
  }
  /* line 73, ../sass/homepage.scss */
  .tedx img {
    position: static;
    top: unset;
    transform: none;
    width: 90%;
    margin: 30px auto;
    display: block;
  }
}

/* line 84, ../sass/homepage.scss */
.tedxmec-container {
  display: flex;
  justify-content: space-around;
}
/* line 88, ../sass/homepage.scss */
.tedxmec-container .x-png {
  width: 46%;
  background-image: url("/dist/imgs/college.jpg");
  background-size: contain;
  background-position: center;
  background-color: #a10015;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}
/* line 97, ../sass/homepage.scss */
.tedxmec-container .x-png img {
  width: 100%;
  margin: auto;
  display: block;
}
/* line 103, ../sass/homepage.scss */
.tedxmec-container .tedxmec {
  width: 50%;
}
/* line 105, ../sass/homepage.scss */
.tedxmec-container .tedxmec .para-head::after {
  left: 0;
  transform: none;
}
@media (max-width: 600px) {
  /* line 84, ../sass/homepage.scss */
  .tedxmec-container {
    flex-wrap: wrap;
  }
  /* line 113, ../sass/homepage.scss */
  .tedxmec-container .x-png {
    width: 60%;
    background-attachment: scroll;
    background-size: cover;
  }
  /* line 118, ../sass/homepage.scss */
  .tedxmec-container .tedxmec {
    width: 90%;
  }
  /* line 120, ../sass/homepage.scss */
  .tedxmec-container .tedxmec p {
    text-align: justify;
    text-align-last: center;
  }
}

/* line 128, ../sass/homepage.scss */
.theme-container {
  margin-bottom: 0;
  background-color: #373833;
  background-repeat: repeat;
  padding: 40px;
}
/* line 130, ../sass/homepage.scss */
.theme-container p {
  color: white;
}
/* line 137, ../sass/homepage.scss */
.theme-container .mec-theme .bold-head {
  color: #bf3642;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
/* line 143, ../sass/homepage.scss */
.theme-container .mec-theme ul {
  color: #bf3642;
}
/* line 146, ../sass/homepage.scss */
.theme-container .mec-theme ul li p {
  color: white;
}
@media (max-width: 600px) {
  /* line 128, ../sass/homepage.scss */
  .theme-container {
    padding: 15px;
    text-align: justify;
  }
  /* line 156, ../sass/homepage.scss */
  .theme-container .mec-theme .bold-head {
    font-size: 30px;
  }
  /* line 159, ../sass/homepage.scss */
  .theme-container .mec-theme ul {
    font-size: 15px;
  }
  /* line 162, ../sass/homepage.scss */
  .theme-container .mec-theme ul li p {
    color: white;
  }
}
