{% extends '../partials/page.njk' %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/contact.min.css" >
{% endblock %}

{% block script %}
    <script src="js/navbar.min.js"></script>
{% endblock %}

{% block content %}
        <div class="header text-center">
            <h1>Contacts</h1>
        </div>
        <div class="container">
            <div class="contact-container row">
                {% for contact in contacts %}
                    <div class="col-md-6 col-sm-6">
                        <div class="contact row">
                            <img src="{{contact.dp}}" class="col-md-6">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h4>{{contact.name}} | {{contact.pos}}</h4>
                                <p>{{contact.phone}}</p>
                                <p>{{contact.email}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}