{% extends '../partials/page.njk' %}
{% block stylesheets %}
    <link rel="stylesheet" href="../src/css/gallery.css">
{% endblock %}

{% block content %}
    <div class="container">
        {%- for images in gallery | slice(3) | reverse() %}
            <div class="row">
            {% for image in images | reverse() %}
                <div class="col-md-4 img-container">
                    <img class="img-responsive gallery-image" src={{image.url}} />
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="window-container">
        <div class="image-enlarged">
            <div class="enlarged-image">
                <img src="" id="window" />
            </div>
            <div class="controls">
                <div class="arrow"><a id="prev">&lt; PREVIOUS</a></div>
                <div><a id="close-window">CLOSE</a></div>                
                <div class="arrow"><a id="next">NEXT &gt;</a></div>
            </div>
        </div>
    </div>
{% endblock %}