{% extends '../partials/page.njk' %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/speakers.min.css">
{% endblock %}

{% block script %}
    <script src="js/speakers.min.js"></script>
{% endblock %}
    
{% block content %}
    <div class="header text-center">
        <h1>Speakers - TEDxMEC 2017</h1>
    </div>
    <div class="curr-speakers-container container">
    {% for speaker in curr_speakers%}
            {% if loop.index0%2===0 %}
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="curr-speaker-image">
                    <img src={{speaker.image_url}}>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 curr-speaker-desc">
                <div>
                    <h3>{{speaker.name}}</h3>
                    <p>{{speaker.description}}</p>
                </div>
            </div>
            </div>
            {% else %}
            <div class="row mob-inverse">
            <div class="col-lg-6 col-md-6 col-sm-6 curr-speaker-desc">
                <div>
                    <h3>{{speaker.name}}</h3>
                    <p>{{speaker.description}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 mob-left">
                <div class="curr-speaker-image">
                    <img src={{speaker.image_url}}>
                </div>
            </div>
        </div>
            {% endif %}
    {% endfor %}
    </div>
    <div class="header text-center">
        <h1>Previous Speakers</h1>
    </div>
    <div class="container">
    {% for groups in speakers | slice(10) %}
        <div class="row">
        {% set count= loop.index0 %}
        {% for each in groups %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-10 speaker-container">
                <div class="speaker-image">
                    <img src={{each.url}} class="img-responsive speaker" />
                </div>
                <div class="speaker-name">
                    <h4 class="text-center">{{each.name}}</h4>
                </div>
                <div class="speaker-overlay text-center">
                    <div class="speaker-overlay-desc">
                        <p>{{each.description | truncate(150) }}</p>
                        <button id={{loop.index0+count*3}} class="button-default detail-view">View more</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>

    <div id="modal-container" class="modal-container">
        <div id="modal" class="speaker-modal">
            <div id="close-modal">&times;</div>
            <div id="modal-inner">
                <img src="" class="col-md-5 col-xs-12 modal-image" />
                <h3 class="modal-head"></h3>
                <p class="modal-para" ></p>
            </div>
        </div>
    </div>
{% endblock %}