{% extends "../partials/page.njk" %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/team.min.css">
{% endblock %}

{% block script %}
    <script src="js/navbar.min.js"></script>
{% endblock %}


{% block content %}
    <div class="header">
        <h1>TEDxMEC TEAM</h1>
    </div>
    <div class="container member-container">
        {% for member in team %}
            {% if loop.index==1 %}
            <div class="col-md-12 col-sm-12 member-container">
                <div class="hero" >
                    <div class="dp">
                        <img src="{{member.img}}" >
                    </div>
                    <p class="post">{{member.pos}}</p>
                    <div class="description-about">
                        <h4 class="name">{{member.name}}</h4>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-6 col-sm-6 member-container">
                <div class="dp">
                    <img src="{{member.img}}" >
                </div>
                <p class="post">{{member.pos}}</p>
                <div class="description-about">
                    <h4 class="name">{{member.name}}</h4>
                </div>
            </div>  
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}