{% extends '../partials/page.njk' %}

{% block stylesheets %}
<link rel="stylesheet" href="css/venue.min.css">
{% endblock %}

{% block styles %}
#map {
    height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
{% endblock %}

{% block content %}
    <div class="venue-container container">        
        <div id="map"></div>
        <div class="modes row">
            <div class="col-md-offset-1 col-md-4 col-xs-10 col-xs-offset-1">
                <img src="imgs/modes/car.png">
                <h3 class="road">Road</h3>
                <p>Kochi is well connected by road by 3 national highways and numerous other routes. Bus services are available from almost all major cities in Kerala, Tamil nadu and Karnataka. MEC is located 4 km from Edappally toll Jn on NH-47 and NH-17. Private and KSRTC bus stations are within 10km of the college.</p>
                <a target="_blank" href="#" class="directions">Get Directions</a>
            </div>
            <div class="col-md-offset-2 col-md-4 col-xs-10 col-xs-offset-1">
                <img src="imgs/modes/train.png">
                <h3>Rail</h3>
                <p>Ernakulam is a major railway destination with trains running to all parts of the country. MEC is located 6 km from Ernakulam North Railway station, 10 km from Ernakulam South Railway station and 15 km from Aluva Railway Station.</p>
                <a target="_blank" href="#" class="directions">Get Directions</a>
            </div>
        </div>
        <div class="modes row">
            <div class="col-md-offset-4 col-md-4 col-xs-10 col-xs-offset-1">
                <img src="imgs/modes/air.png">
                <h3>Air</h3>
                <p>Kochi has an international airport connected by major aircraft operators. MEC is located 20 km from the Cochin International Airport along NH-47.</p>
                <a target="_blank" href="#" class="directions">Get Directions</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Within</h3>
        <p>MEC can be reached from Edapally through buses along the Pookatupadi, Perumbavoor or Kothamangalam routes, disembarking at the Thrikkakkara temple bus stop. The college is about 1km from the bus stop.</p>
        <p>It can also be reached from Kaloor Bus Stand or Ernakulam South and Ernakulam North railway stations by taking buses along the Kakkanad route to disembark at NGO quarters, located 1.5 km from MEC. Autorikshaws are available from both Thrikkakara and NGO quarters.</p>
    </div>
    <script>
        var map;
        function initMap() {

        var myLatLng = {lat: 10.0281967, lng: 76.3292422};

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 17
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASuag7lvuXRCvnbG9thsUdkXiGkPWtzV0&callback=initMap"
        async defer></script>
{% endblock %}
