@import 'compass/css3/filter';
.container {
	max-width: 980px;
	margin: 90px auto;
}

$contentFont: 'Poppins', sans-serif;
$navbarFont: 'Montserrat', sans-serif;

$phoneMax: 600px;
$iphone5: 360px;
$ipad: 800px;

a,
a:hover,
a:active {
	text-decoration: none;
}

.stay {
	overflow-y: hidden;
}

#content,
#footer-outer {
	will-change: filter;
	transition: filter 0.3s;
}

.filter-transit {
	@include filter(blur(5px));
}

#content {
	position: relative;
}

@media (max-width: $phoneMax) {
	.container {
		margin: 10px auto;
	}
}
