.snackbar {
	position: fixed;
	bottom: 0;
	transition: transform 0.5s;
	width: 100%;
	background-color: #ff4431;
	display: flex;
	justify-content: space-around;
	height: 80px;
	transform: translateY(100%);
	transition-timing-function: ease-in-out;
	z-index: 99;
	.snackbar-content {
		margin: auto;
		display: flex;
		justify-content: space-around;
		color: white;
		.content-notif {
			width: 80%;
		}
		p {
			text-align: center;
			color: inherit;
			margin: 0;
			padding: 0;
			line-height: 80px;
			a {
				padding: 10px;
				background: white;
				border-radius: 5px;
				margin-left: 5px;
				color: #ff4431;
			}
			@media (max-width: 600px) {
				text-align: left;
				a {
					padding: 8px 5px;
				}
			}
			@media (max-width: 350px) {
				line-height: 40px;
			}
		}
		@media (max-width: 600px) {
			.content-notif {
				width: 100%;
			}
		}
	}
	#close-notif {
		line-height: 80px;
		color: white;
		margin-right: 30px;
		cursor: pointer;
		font-size: 20px;
		@media (max-width: 600px) {
			margin-right: 10px;
		}
	}
}

.show-notif {
	transform: translateY(0);
}
